<maltego_config>
    <primitive_icons>
        <primitive name="person">AdultMale</primitive>
        <primitive name="firm">Company</primitive>
        <primitive name="cellphone">MobilePhoneGolden</primitive>
        <primitive name="news">Document</primitive>
    </primitive_icons>
</maltego_config>