<maltego_config>
    <entity_icons>
        <entity name="person">AdultMale</entity>
        <entity name="firm">Company</entity>
        <entity name="cellphone">MobilePhoneGolden</entity>
        <entity name="news">Document</entity>
        <entity name="licitacao">Document</entity>
    </entity_icons>
</maltego_config>